/* This file intentionally left blank. */
.dark body {
    background-color: #121212 !important;
}

.dark .bg-background\/95  {
    background-color: #121212;
}

img {
    height: 100%;
    width: 5%;
}

.hint {
    background-color: rgba(72, 56, 142, 0.15) !important;
    border-color: rgb(78, 59, 160);
}

.dark .border-border {
    border-color: rgb(26, 23, 43);
}

#search-input:hover {
    background-color: rgb(78, 59, 160, 0.15) !important;
}